.u-section-1 .u-sheet-1 {
  min-height: 750px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 1.125rem;
  border-style: solid;
  margin: 141px auto 0 744px;
  padding: 5px 12px 5px 11px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: -40px 708px 0 321px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  background-image: none;
  margin: -38px 579px 0 462px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.125rem;
  border-style: solid;
  font-weight: 700;
  margin: 73px auto 60px;
  padding: 88px 92px 90px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 594px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 559px;
    margin-left: 271px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 430px;
    margin-left: 412px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1rem;
    padding-top: 89px;
    padding-right: 184px;
    padding-left: 184px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 429px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 394px;
    margin-left: 216px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 265px;
    margin-left: 357px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 273px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 279px;
    margin-left: 150px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 150px;
    margin-left: 291px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 140px;
    margin-left: 90px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 90px;
    margin-left: 152px;
  }
}