<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
  <title>Weather Spoons</title>
</head>

<body>
  <h1>Weather Spoons</h1>

  <nav id="nav">
    <ul>
        <li class="nav"><span><a href="/home"> Home </a></span></li>
        <li class="nav"><span><a href="/profile"> Profile </a></span></li>
        <li class="nav"><span><a href="/favorites"> Favorites </a></span></li>
    </ul>
  </nav>

  <h2>Daily Recipes</h2>
  <p>
    The weather in {{city}} {{zipcode}} is currently {{forecast}} <br>
    based on the weather, we recommend this recipe: <a href={{sourceUrl}} target="_blank">{{title}}</a> (ID:{{recipe_id}})
    <br><img src="{{image}}" alt="recipe preview">
  </p>
</body>

</html>