.u-section-1 .u-sheet-1 {
  min-height: 950px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 145px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 660px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 660px;
}

.u-section-1 .u-container-layout-2 {
  padding: 9px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-decoration: underline !important;
  margin: 75px 461px 0 46px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 1.125rem;
  border-style: solid;
  text-transform: none;
  font-weight: normal;
  margin: 60px 104px 0 auto;
  padding: 5px 12px 5px 11px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: -40px 503px 0 88px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  background-image: none;
  margin: -38px 391px 0 200px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 1.125rem;
  border-style: solid;
  margin: 50px 104px 0 auto;
  padding: 5px 12px 5px 11px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: -40px 491px 0 88px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  background-image: none;
  margin: -38px 362px 0 229px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 544px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 544px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 384px;
    margin-left: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 441px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 329px;
    margin-left: 138px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 429px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 301px;
    margin-left: 167px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 248px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 331px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 261px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 319px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 233px;
    margin-left: 99px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 816px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-bottom: -22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 514px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 48px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 131px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 131px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 119px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 132px;
    margin-left: 0;
  }
}