 .u-section-1 {
  min-height: 1347px;
}

.u-section-1 .u-shape-1 {
  width: 850px;
  height: 850px;
  margin: 53px auto 0 calc(((100% - 1140px) / 2) + -32px);
}

.u-section-1 .u-image-1 {
  width: 655px;
  height: 655px;
  background-image: url("images/93633254-0.jpeg");
  background-position: 50% 50%;
  margin: -753px auto 0 calc(((100% - 1140px) / 2) + 65px);
}

.u-section-1 .u-group-1 {
  width: 257px;
  min-height: 229px;
  height: auto;
  margin: -373px auto 0 calc(((100% - 1140px) / 2) + 352px);
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  background-image: none;
  margin: 45px -58px 0 -14px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 294px calc(((100% - 1140px) / 2) + 335px) 0 calc(((100% - 1140px) / 2) + 705px);
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  background-image: none;
  margin: -38px calc(((100% - 1140px) / 2) + 223px) 0 calc(((100% - 1140px) / 2) + 817px);
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 52px calc(((100% - 1140px) / 2) + 323px) 0 calc(((100% - 1140px) / 2) + 705px);
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  background-image: none;
  margin: -38px calc(((100% - 1140px) / 2) + 194px) 0 calc(((100% - 1140px) / 2) + 846px);
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 3.125rem;
  border-style: solid;
  text-transform: none;
  font-weight: normal;
  margin: 52px calc(((100% - 1140px) / 2) + 187px) 60px auto;
  padding: 9px 24px 10px 23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 940px) / 2) + -32px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 65px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 352px);
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 235px);
    margin-left: calc(((100% - 940px) / 2) + 605px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 123px);
    margin-left: calc(((100% - 940px) / 2) + 717px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 223px);
    margin-left: calc(((100% - 940px) / 2) + 605px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 94px);
    margin-left: calc(((100% - 940px) / 2) + 746px);
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    padding-top: 89px;
    padding-right: 184px;
    padding-left: 184px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1217px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
    height: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-top: -623px;
    margin-left: calc(((100% - 720px) / 2) + 65px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 352px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 125px);
    margin-left: calc(((100% - 720px) / 2) + 495px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 607px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 113px);
    margin-left: calc(((100% - 720px) / 2) + 495px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 620px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 922px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    height: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: -443px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -258px;
    margin-left: calc(((100% - 540px) / 2) + 283px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 35px);
    margin-left: calc(((100% - 540px) / 2) + 405px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 440px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 23px);
    margin-left: calc(((100% - 540px) / 2) + 405px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 440px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 522px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -243px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -58px;
    margin-left: calc(((100% - 340px) / 2) + 83px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 240px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 240px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 228px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 240px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }
}